{% extends "app/layout.html" %}

{% block content %}
<div class="formviewpendingpo">
    <br><br><br><br>
    <center>
      {% if messages %}
      <ul class="messages" style="list-style-type:none;">
          {% for message in messages %}
          <li style="color:red;font-size:30px" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          <br><br>
          {% endfor %}
      </ul>
      {% endif %}
    </center>
    
  <center>
    <div class="margintop">
      <a class="btn btn-danger btn-square buttonsize" href="/viewpendingpo">Cancel</a>
    </div>
  </center>
</div>

{% endblock %}
