{% extends "app/layout.html" %}

{% block content %}
<style>
    * {
      box-sizing: border-box;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #DDD;
    }
    
    tr:hover {background-color: #D6EEEE;}
</style>

<div class="formviewq">
    <br><br>
      <center><h2 style="font-size:50px"> <strong>Purchase Order List</strong> </h2></center>
    <form class="viewposubmission" action="viewpoform" method="POST">
        {% csrf_token %}
        <div>
          <br><br>
          <table>
            <tr>
                <th>Purchase Order ID</th>
                <th>Quotation ID</th>
            </tr>
            {% for i in polist %}
              <tr>
                <td>{{ i.purchase_order_id }}</td>
                <td>{{ i.quotation.quotation_id }}</td>
                <td></td>
              </tr>
            {% endfor %}
            </table>
            <br><br>
            <center><h2="font-size:40px"><em>Fill In Purchase Order Form That You Want To View.</em></h2></center>
            <br><br>
            <div style="width: 100%;">
              <div style="width: 10%; height: 50px; float: left;"> 
                <p><strong> Purchase Order ID: </strong></p>
              </div>
              <div style="margin-left: 10%; height: 50px;"> 
                <p><input type="text" name='purchase_order_id' placeholder='Purchase Order ID'  class="form-control" /></p>
              </div>
            </div>
            <center>
              <div class="margintop">
                <td><button id = "View_btn" type="submit" class="btn btn-success btn-square buttonsize">View</button></td>
                <a class="btn btn-danger btn-square buttonsize" href="/menu">Cancel</a>
              </div>
            </center>
    </form>
</div>

{% endblock %}