{% extends "app/layout.html" %}
{% block content %}

<style>
    * {
      box-sizing: border-box;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #DDD;
    }

    tr:hover {background-color: #D6EEEE;}
</style>

<div class="container">
    <br>
    <div class="container">
    <h1 style="text-align: center"><strong>Quotation</strong></h1>
    </div>
    <br>
    <form class="viewcq" action="viewcq" method="POST">
        {% csrf_token %}
    <div class="container">
        <p>Quotation ID: {{ quotation_id }}</p>
        <p>Salesman ID: {{ salesman_id }}</p>
        <p>Created Date: {{ created_date }}</p>
        <p>Expiry Date: {{ expiry_date }}</p>
        <p>Purchase Requisition ID: {{ purchase_requisition_id }}</p>
        <p>ID: {{ user.get_username }}</p>
        <p>Name: {{ user.get_full_name }}</p>
        <p>Email: {{ email }}</p>
    </div>
    <br>
        <div class="container">
            <table class="table-bordered table-hover">
                <tr>
                    <th style="text-align: center">Item ID</th>
                    <th style="text-align: center">Item Name</th>
                    <th style="text-align: center">Item Quantity</th>
                    <th style="text-align: center">Item Unit Price (RM)</th>
                    <th style="text-align: center">Item Total Price (RM)</th>
                </tr>
                {% for qitem in qitems %}
                <tr>
                    <td style="text-align: center">{{ qitem.item_id }}</td>
                    <td>{{ qitem.item_id.item_name }}</td>
                    <td style="text-align: center">{{ qitem.item_quantity_Q }}</td>
                    <td style="text-align: center">{{ qitem.item_unit_price }}</td>
                    <td style="text-align: center">{{ qitem.item_total_price }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" style="text-align: right">Total Price (RM)</td>
                    <td style="text-align: center">{{ quotation_total_price}}</td>
                </tr>
            </table>
        </div>
        <br>
    <div class="margintop">
        <a class="btn btn-danger pull-left" href="viewcqlist">Back</a>
    </div>
    </form>

</div>
{% endblock %}