{% extends "app/layout.html" %}

{% block content %}
<style>
  * {
    box-sizing: border-box;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }
  
  tr:hover {background-color: #D6EEEE;}
</style>

<div class="formviewq">
    <br><br>
      <center><h2 style="font-size:50px"> <strong>Quotation Form Details</strong> </h2></center>
    <br><br>
    <form class="addqsubmission" action="addqconfirmation" method="POST">
        {% csrf_token %}
        <div style="width: 100%;">
            <div style="width: 20%; height: 50px; float: left;"> 
              <p><strong> Quotation ID: </strong></p>
            </div>
            <div style="margin-left: 20%; height: 50px;"> 
              <p>{{ quotation_id }}</p>
            </div>
        </div>
        <div style="width: 100%;">
          <div style="width: 20%; height: 50px; float: left;"> 
            <p><strong> Purchase Requisition ID: </strong></p>
          </div>
          <div style="margin-left: 20%; height: 50px;"> 
            <p>{{ purchase_requisition_id }}</p>
          </div>
        </div>
        <div style="width: 100%;">
            <div style="width: 20%; height: 50px; float: left;"> 
              <p><strong> Customer ID: </strong></p>
            </div>
            <div style="margin-left: 20%; height: 50px;"> 
              <p>{{ customer_username }}</p>
            </div>
        </div>
        <div style="width: 100%;">
            <div style="width: 20%; height: 50px; float: left;"> 
              <p><strong> Salesman ID: </strong></p>
            </div>
            <div style="margin-left: 20%; height: 50px;"> 
              <p>{{ salesman }}</p>
            </div>
        </div>
        <div style="width: 100%;">
            <div style="width: 20%; height: 50px; float: left;"> 
              <p><strong> Quotation Total Price: </strong></p>
            </div>
            <div style="margin-left: 20%; height: 50px;"> 
              <p>{{ quotation_total_price }}</p>
            </div>
        </div>
        <div style="width: 100%;">
            <div style="width: 20%; height: 50px; float: left;"> 
              <p><strong> Quotation Created Date: </strong></p>
            </div>
            <div style="margin-left: 20%; height: 50px;"> 
              <p>{{ created_date }}</p>
            </div>
        </div>
        <div style="width: 100%;">
          <div style="width: 20%; height: 50px; float: left;"> 
            <p><strong> Quotation Expiry Date: </strong></p>
          </div>
          <div style="margin-left: 20%; height: 50px;"> 
            <p>{{ quotation_expiry_date }}</p>
          </div>
        </div>
        <br><br>
        
        <center><h2 style="font-size:50px"><strong>Quotation Item Details</strong></h2></center>
          <br><br>
          <table>
            <tr>
              <th>Item ID</th>
              <th>Item Quantity</th>
              <th>Item Unit Price (RM)</th>
              <th>Item Total Price (RM)</th>
            </tr>
            {% for i in qitems %}
              <tr>
                <td>{{ i.item_id }}</td>
                <td>{{ i.item_quantity_Q }}</td>
                <td>{{ i.item_unit_price }}</td>
                <td>{{ i.item_total_price }}</td>
              </tr>
            {% endfor %}
            </table>
            <br><br>
          <br><br>
        <div class="margintop">
          <a class="btn btn-danger btn-square buttonsize" href="/qlist">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}