{% extends "app/layout.html" %}

{% block content %}
<style>
    * {
      box-sizing: border-box;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #DDD;
    }
    
    tr:hover {background-color: #D6EEEE;}
</style>

<div class="formaddq">
    <form class="viewprsubmission" action="addqform" method="POST">
      {% csrf_token %}
    <br><br>
      <center><h2 style="font-size:50px"> <strong>Purchase Requisition List</strong> </h2></center>
    <br><br>
        <div>
          <br><br>
          <table>
            <tr>
              <th>Purchase Requisition ID</th>
              <th>Customer ID</th>
            </tr>
            {% for i in prlist %}
              <tr>
                <td>{{ i.purchase_requisition_id }}</td>
                {% for user in all_users %}
                  {% if i.customer_id == user.id %}
                    <td>{{ user.username }}</td>
                  {% endif%}
                {% endfor%}
              </tr>
            {% endfor %}
            </table>
            <br><br>
            <div style="width: 100%;">
              <div style="width: 15%; height: 50px; float: left;"> 
                <p><strong> Purchase Requisition ID: </strong></p>
              </div>
              <div style="margin-left: 15%; height: 50px;"> 
                <p><input type="text" name='purchase_requisition_id' placeholder='Purchase Requisition ID'  class="form-control" /></p>
              </div>
            </div>
            <center>
              <div class="margintop">
                <td><button id = "Create_btn" type="submit" class="btn btn-success btn-square buttonsize">Create</button></td>
                <a class="btn btn-danger btn-square buttonsize" href="/menu">Cancel</a>
              </div>
            </center>
    </form>
</div>

{% endblock %}